[phases.setup]
nixPkgs = ["nodejs_20", "python3"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[variables]
HOSTNAME = "0.0.0.0"

[start]
cmd = "node_modules/.bin/next start -p ${PORT:-3000}"
