[phases.setup]
nixPkgs = ["nodejs_20", "python3"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "node_modules/.bin/next start -H 0.0.0.0 -p ${PORT:-3000}"
